<div id="<%= dom_id article %>" class="border border-purple-500 rounded my-3 p-5">
  <h2 class="my-5 font-bold text-center">
    <%= article.title %>
  </h2>
  <p class="my-5 text-center">
    <%= article.text %>
  </p>
</div>

